



<mat-toolbar color="primary">
  <mat-toolbar-row class="flex-header ">
    

      <nav>
        <a mat-button [routerLink]="['/home']" routerLinkActive="active">home</a>
        
        <a mat-button [routerLink]="['/products']" routerLinkActive="active"
        >productos</a
        >
        <a mat-button [routerLink]="['/contact']" routerLinkActive="active"
        >contactos</a
        >
      </nav>
      <a mat-raised-button  matBadge="4" matBadgeColor="warn">
        
        <mat-icon> shopping_cart </mat-icon>
        Carrito
      </a>
   
  </mat-toolbar-row>
</mat-toolbar>
